body {
    color: #444;
    margin: auto;
}

div.header {
    border-bottom: none;
}

div#titlearea {
    border-bottom: none;
    padding: 10px;
}

hr.footer {
    border-top: none;
}

@media (min-width: 1200px) {
    body {
        max-width: 960px;
    }
}
